<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
	    <h2>게시글 등록</h2>
	    <form id="frm" name="frm" method="post" enctype="multipart/form-data">
	    	<table class="board_detail">
	    		<tr>
	    			<td>제목</td>
	    			<td><input type="text" id="title" name="title"/></td>
	    		</tr>
	    		<tr>
	    			<td colspan="2">
		    			<textarea id="contents" name="contents"></textarea>
	    			</td>
	    		</tr>
	    	</table><br>
	    	<h3>첨부 파일 추가</h3><hr>
	    	<input type="file" id="files" name="files" multiple="multiple"><br>
	    	<h4 id="preview"></h4>
	    	<div style="text-align:right">
		    	<a href="#this" id="register" class="btn">등록</a>
		    	<a href="#this" id="cancle" class="btn">취소</a>
	    	</div>
	    </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/uploadPreview.js}"></script>
	<script type="text/javascript">
		const inputFiles = document.getElementById("files");
		$(document).ready(function(){
			inputFiles.addEventListener('change', uploadPreview);
			
			$("#register").on("click", function(){
				var frm = $("#frm")[0];
				frm.action = "/board/insertBoard.do";
				frm.submit();
			});
			
			$("#cancle").on("click", function(){
				location.href = "/board/openBoardList.do";
			});
		});
	</script>
</body>
</html>